.sidebar {
    height: 100%;
    width: 80px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #c4c3c3;
    overflow-x: hidden;
    padding-top: 10px;
    /* background-color: rgb(178, 166, 245); */
    background-color: rgb(1, 1, 34);
    z-index: 1;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    padding: 15px;
    /* color: #333; */
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .sidebar li:hover {
    background-color: #a3a2a2;
  }
  