
.App {
  text-align: center;
}
.header{
  text-align: center;
  padding: 2px;
  background-color: yellow;
}
.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
max-width: 300px;
margin: auto;
text-align: center;
font-family: arial;
padding: 10px;
margin-top: 150px;
}

.price {
color: grey;
font-size: 22px;
}

.card button {
border: none;
outline: 0;
padding: 12px;
color: white;
background-color: #cac2c2;
text-align: center;
cursor: pointer;
width: 100%;
font-size: 18px;
}

.card button:hover {
opacity: 0.7;
}


.footer{
background-color: #cac2c2;
left: 0;
position: fixed;
text-align: center;
bottom: 0;
width: 100%;
}