
body {
    width: 100%;
    font-family: 'Arial', sans-serif;

}


nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 95vh;
    background-color: #333;
    padding-top: 20px;
    position: fixed;
    transition: 0.3s;
    overflow-x: hidden;
}

nav a {
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

nav a:hover {
    background-color: #555;
}



#toggle {
    display: none;
}

#toggle-label {
    cursor: pointer;
    padding: 10px;
    background-color: #333;
    color: #fff;
    display: inline-block;
    position: fixed;
    z-index: 1;
}

#toggle:checked+#toggle-label+nav {
    width: 0;
    
}

#toggle:checked+#toggle-label+nav+.content {
    margin-left: 0;
   
}


.head-container {
    height: 200px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.img1 {
    width: 140px;
    margin-left: 250px;
    padding-top: 15px;
}

h1 {
    margin-right: 400px;
    margin-top: 80px;

} 


  
