
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #b9b7b7;
}

* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 16px;
  background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=number], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 15px;
  margin: 5px 0 22px 0;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #f1f1f1;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}


/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}


/* ------------------------------------------  Table ----------------------------------- */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #9b5e5e;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}